<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" ; style="height:40%">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
</html>

<style>

    .c {
        text-align: center;
        padding: 16px;
        display: block;
        position: relative;
        background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190622/ourmid/pngtree-blue-minimalistic-flat-medical-health-banner-background-image_210029.jpg);
        background-size: cover;
        background-position: center;
    }
    ._404 {
        font-size:120px;
        color: white;
        position: initial;
        display: inline-block;
        z-index: 2;
        letter-spacing: 15px;
        color: midnightblue;
    }
    ._1 {
        text-align: center;
        color: white;
        display: block;
        position: relative;
        letter-spacing: 12px;
        font-size: 4em;
        line-height: 80%;
        margin: 20px;
        color: midnightblue;
    }
    ._2 {
        text-align: center;
        color: white;
        display: block;
        position: relative;
        font-size: 20px;
        margin: 20px;
        color: midnightblue;
    }

    .btn {
        background-image: url(https://img.freepik.com/foto-gratis/papel-pintado-pared-hormigon-pintado-textura-concepto-coloreado_53876-31799.jpg?size=626&ext=jpg);
        position: relative;
        display: inline-block;
        width: 300px;
        padding: 5px;
        z-index: 5;
        font-size: 25px;
        margin: 0 auto;
        color: white;
        text-decoration: none;
        margin-right: 10px;
        margin-top: 10px;
    }

    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    .body {
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #333;
    }

    .container h1 {
        color: white;
        text-align: center;
        padding: 20px;
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
    }


    .facebook,
    .twitter,
    .youtube,
    .pinterest,
    .instagram,
    .tumblr {
        display: inline-block;
        margin: 10px;
        transition: 1s;
        border-radius: 5px;
    }

    .fa-facebook,
    .fa-twitter,
    .fa-youtube,
    .fa-pinterest-p,
    .fa-instagram,
    .fa-tumblr {
        padding: 10px;
        width: 80px;
        text-align: center;
        color: white;
    }

    .youtube:hover,
    .facebook:hover,
    .twitter:hover,
    .pinterest:hover,
    .instagram:hover,
    .tumblr:hover {
        transform: scale(1.1, 1.1);
        transform: rotate(360deg);
    }


    /*Colors*/

    .pinterest {
        background-color: #BD081C;
    }

    .facebook {
        background-color: #3b5998;
    }

    .twitter {
        background-color: #5EA9DD;
    }

    .youtube {
        background-color: #E62117;
    }

    .instagram {
        background: linear-gradient(60deg, #F9C556, #F97621, #EA484C, #D72F78, #A93AB5, #5B62D1);
    }

    .tumblr {
        background-color: #395976;
    }

</style>

<div class="container-fluid" style="margin-bottom:20px">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <div class='c'>
        <div class='_404'>@Html.ViewBag.Title</div>
        <div class='_1'>@Html.ViewBag.Description</div>
        <div class='_2'>@Html.ViewBag.DescripcionAdicional</div>

        <div class='_2'>Si el error persiste, puede optar contactarnos via mail o telefonicamente al 4651-6788 (int. 120).</div>
        <a class='btn' href='#' onclick="history.go(-1)">VOLVER</a>
        <a class='btn' href="mailto:soportetecnicosalud@gmail.com">CONTACTAR VIA MAIL</a>

        <div class="row" style="display:block">
            <div class='facebook'>
                <a href="https://www.facebook.com/municipiodelamatanza/" target="_blank">
                    <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                </a>
            </div>

            <div class="twitter">
                <a href="https://twitter.com/lamatanzamunic" " target="_blank"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
            </div>

            <div class="youtube">
                <a href="https://www.youtube.com/channel/UCwWf_re3uffuCrC56bR3SZg" target="_blank"><i class="fa fa-youtube fa-3x" aria-hidden="true"></i></a>
            </div>


            <div class="instagram">
                <a href="https://www.instagram.com/saludpublicaok/" target="_blank">
                    <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
                </a>
            </div>

        </div>
    </div>
</div>

